body {
	background-color: teal;
	margin:-5px;
}
#bandeau {
	margin:auto;
	width:100%;
	height:150px;
	background-image:URL('./img/gaia.jpg');
	background-position:center;

}
.Menu {
	width:100%;
	height:30px;
	margin:auto;
	background-color:blue;
	padding:20px 20px 20px 50px;
}
.Menu > a {
	color:white;
	text-align: center;
	text-decoration:none;
	font-family:verdana;
	font-size:20px;
	line-height:20px;
	margin-right:50px;
}

h1, h2 {
	color:white;
	display:inline-block;
	
}
h1 {
	font-family:arial black;
	font-size:48px;
	margin-left:40px;
}
h2 {
	font-family:verdana;
	margin-left:1000px;
	line-height:150px;

}
.buisness {
	margin:auto;
	width:60%;
}
.effet:hover {
	color:black;
}
#prenom {
	color:red;
}